---
title: nanoc3 blog starter kit
---
<% item = item_by_identifier('/sticky/') %>
<% if item %>
  <div id='sticky'>
    <% if item[:title] %>
      <header class="entry-header">
        <h1 class="entry-title"><%= item[:title] %></h1>
      </header>
    <% end %>
    <div class='entry-content'>
      <%= partial(item) %>
    </div>
  </div>
<% end %>

<% sorted_articles[0, @config[:index_count]].each do |item| %>
  <%= render('_article', :item => item, :is_embedded => true) %>
<% end %>
