<header class="page-header">
  <h1 class="page-title">Tag: <%= tag.capitalize %></h1>
  <div class="category-archive-meta"><p></p></div>
</header>
<% items_with_tag(tag).each do |item| %>
  <%= render('_article', :item => item, :is_embedded => true) %>
<% end %>
