<ul id="tag-cloud">
<%  t = rank_tags(5, @items)
  sorted = t.keys.sort! { |a,b| a.downcase <=> b.downcase }
  sorted.each do |tag|
    if t[tag] < 4 # skip lower category
%>
<li class="lv<%= t[tag] + 1 %>"><a href="/tags/<%= tag %>.html"><%= tag %></a></li>
<%  
    end
  end 
%>
</ul>
